.html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
.container {
  position: relative;
}

.container .img {
  width: 548px;
  height: 93px;
  object-fit: cover;
}
.container p {
  font-size: 1.2rem;
  font-weight: 6;
  position: absolute;
  top: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container .wins {
  left: 8.5rem;
}

.container .level {
  left: 16.6rem;
}

.container .kd {
  left: 22.2rem;
}

.container .kills {
  left: 29.7rem;
}
